<button (click)="logout()">Logout</button>
<div>
    <button (click)="filterAnimals('dog')">Dogs</button>
    <button (click)="filterAnimals('cat')">Cats</button>
    <!-- Add buttons for other animal types as needed -->
  </div>
<div *ngFor="let animal of animals">
    <button (click)="addToFavorites(animal.id)">Add to Favorites</button>
    <h2>{{ animal.name }}</h2>
    <p>Gender: {{ animal.gender }}</p>
    <p>Weight: {{ animal.weight }}</p>
    <p>City: {{ animal.city }}</p>
    <p>Country: {{ animal.country }}</p>
    <a [routerLink]="['/pet/detail',animal.id]">
        <div *ngFor="let photo of animal.photos">
        <img [src]="'http://127.0.0.1:5000' + photo" alt="Animal Photo">
        </div>
    </a>
</div>


